<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="about-content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est minima error blanditiis corrupti pariatur, iste omnis sit. Eligendi rem aperiam, consequatur alias, quod adipisci exercitationem ab, debitis culpa inventore nesciunt!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus esse impedit maxime consequatur mollitia aspernatur, itaque reprehenderit porro id consectetur natus nobis doloremque adipisci, ducimus iusto odio ipsum vitae amet.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita maiores, asperiores enim a sit aspernatur labore rerum nulla temporibus atque beatae cum, deleniti doloremque quos, vero similique magnam aliquid. Necessitatibus.</p>
     </div>
     <%- include('./partials/footer.ejs')%>
</body>
</html>